// Colors

//? palette two
$light-blue: #7395AE; //! buttons
$dark-blue: #557A95; //! buttons hover
$red: #aa2e39; //! times hover
$dark-gray: #0d2946; //! text color
$white: #fff;
$gold: #d2ba69; //! wave


$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);

//borderradius
$border-radius: 7.5px;

// Screen sizes

// Small tablets and large smartphones (landscape view)
$screen-sm: 576px;

// Small tablets (portrait view)
$screen-md: 768px;

// Tablets and small desktops
$screen-lg: 992px;

// Large tablets and desktops
$screen-xl: 1200px;

@import "../utils/grid/variables";
