// Colors
$light-green: #d1e3d5;
$dark-green: #9ebdb7;
$light-pink: #e8d0c6;
$pink: #e8b9b3;
$red: #aa2e39;
$light-gray: #a68f95;
$dark-gray: #42303c;
$gold: #d2ba69;



$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);

//borderradius
$border-radius: 7.5px;

// Screen sizes

// Small tablets and large smartphones (landscape view)
$screen-sm: 576px;

// Small tablets (portrait view)
$screen-md: 768px;

// Tablets and small desktops
$screen-lg: 992px;

// Large tablets and desktops
$screen-xl: 1200px;

@import "../utils/grid/variables";
