<header>
  <nav class="Nav">
    <section class="Section">
      <div class="container">
        <div class="row">
          <div class="col-2">
            <div class="Nav__brand">
              <a class="Nav__brand__text" href="#">Neuro<span class="Nav__brand__text-wave">wave</span></a>
            </div>
          </div>
          <div class="col-8 Nav__menu">
            <ul class="Nav__menu__list">
              <li class="Nav__menu__list__item"><a class="Nav__menu__list__item__link" href="">rTMS</a></li>
              <li class="Nav__menu__list__item"><a class="Nav__menu__list__item__link" href="">Over ons</a></li>
              <li class="Nav__menu__list__item"><a class="Nav__menu__list__item__link" href="">Informatie</a></li>
              <li class="Nav__menu__list__item"><a class="Nav__menu__list__item__link" href="">Aanmelden</a></li>
            </ul>
          </div>
          <div class="col-2 Nav__contact">
            <a class="Nav__contact__text" href="#">Contact</a>
          </div>
          <div class="col-10 Nav__burger">
              <i class="fal fa-bars Nav__burger__icon"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="test"></div>
    <div class="container">
      <div class="Extra__menu">
        <div class="row">
          <div class="col-12">
            <ul class="Mobile__menu">
              <li class="Mobile__menu__item">
                <button type="submit" class="Mobile__menu__item__btn extraBtn" href="">rTMS</button>
              </li>
              <li class="Mobile__menu__item">
                <button type="submit" class="Mobile__menu__item__btn extraBtn" href="">Contact</button>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <ul class="Mobile__menu">
              <li class="Mobile__menu__item">
                <button type="submit" class="Mobile__menu__item__btn extraBtn" href="">rTMS</button>
              </li>
              <li class="Mobile__menu__item">
                <button type="submit" class="Mobile__menu__item__btn extraBtn" href="">Contact</button>
              </li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <ul class="Mobile__menu">
              <li class="Mobile__menu__item">
                <button type="submit" class="Mobile__menu__item__btn" href="">Test</button>
              </li>
              <li class="Mobile__menu__item">
                <button type="submit" class="Mobile__menu__item__btn" href="">Test</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>