<header>
  <nav class="Nav">
    <div class="container">
      <div class="row">
        <div class="col-12 Nav__container">
          <div class="Brand">
            <a class="Brand__text" href="#">
              Neurowave</a>
          </div>
          <ul class="Menu">
            <li class="Menu__item"><a class="Menu__item__link" href="">rTMS</a></li>
            <li class="Menu__item"><a class="Menu__item__link" href="">Over ons</a></li>
            <li class="Menu__item"><a class="Menu__item__link" href="">Informatie</a></li>
            <li class="Menu__item"><a class="Menu__item__link" href="">Aanmelden</a></li>
          </ul>
          <div class="Contact">
            <a class="Contact__text" href="#">Contact</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <ul class="Mobile__menu">
            <li class="Mobile__menu__item">
              <button type="submit" class="Mobile__menu__item__btn" href="">rTMS</button>
            </li>
            <li class="Mobile__menu__item">
              <button type="submit" class="Mobile__menu__item__btn" href="">Over ons</button>
            </li>
            <li class="Mobile__menu__item">
              <button type="submit" class="Mobile__menu__item__btn" href="">Informatie</button>
            </li>
            <li class="Mobile__menu__item">
              <button type="submit" class="Mobile__menu__item__btn" href="">Aanmelden</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>