.Nav{
  .Section{
    position: fixed;
    top: 0;
    width: 100%;
  }
  .row{
    background: white;

    @media screen and (min-width: $screen-md) {
      align-items: baseline;
    }
  }

  &__brand{
    &__text{
      cursor: default;
      text-decoration: none;
      color: $dark-gray;
      font-size: 2rem;
      &:hover{
        color: $dark-green;
      }
      &-wave{
        font-size: 1.5rem;
  
        font-weight: 300;
        color: $gold;
      }
    }
  }

  &__menu{
    @media screen and (max-width: $screen-md) {
      display: none;
    }

    &__list{
      display: flex;
      justify-content: center;
      align-items: center;

      &__item{
        list-style: none;

        &__link{
          color: $dark-gray;
          text-decoration: none;
          padding: 0 $Grid-gutter-half;
          &:hover{
            color: $dark-green;
          }
        }
      }
    }
  }

  &__burger{
    display: flex;
    align-items: center;
    @media screen and (min-width: $screen-md){
      display: none;
    }

    &__icon{
      position: absolute;
      right: 15px;
      cursor: pointer;
      font-weight: 400;
      padding-top: 5px;
      font-size: 2rem;
      color: $dark-gray;

      &:hover{
        color: $dark-green;
      }
    }
  }
  
  &__contact{
    text-align: end;
    @media screen and (max-width: $screen-md){
      display: none;
    }

    &__text{
      cursor: default;
      text-decoration: none;
      color: $dark-gray;
      font-size: 1.5rem;
      &:hover{
        color: $dark-green;
      }
    }
  }
}





.Mobile__menu{
  margin-top: 5px;
  display: none;
  justify-content: space-around;

  &__item{
    width: 50%;
    min-height: 50px;
    list-style: none;
    &:not(:last-child){
      margin-right: 5px;
    }

    &__btn{
      background-color: $light-green;
      width: 100%;
      height: 100%;
      font-weight: 500;
      color: $dark-gray;
      outline: none;
      border: none;
      &:hover{
        background: $dark-green;
        color: white;
      }
      @media screen and (max-width: $screen-sm) {
        font-size: 0.7rem;
        min-height: $Grid-gutter;
      }
    }
  }
  @media screen and (max-width: $screen-md) {
    display: flex;
  }
}

.Extra__menu{
  transition: ease all 1s;
  width: 100%;
  padding-top: 100px;
  z-index: -1;
  transform: translateY(-210px);
  position: absolute;
  right: 0;
  left: 0;
  // display:none;

  .extraBtn{
    transition: all ease-in-out 0.4s;
    // opacity: 0;
  }
}

.moveDown{
  transform: translateY(-100px);
}