// .row{
//     padding: $Grid-gutter-half 0;
// }

.Nav{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    &__row{
        justify-content: space-around;
        min-height: 4vh;
        align-items: center;
    }
}

.Brand__text{
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    text-align: start;
    margin: 0;
    &:hover{
        color: lightblue;
    }
}

.Menu{
    display: flex;
    justify-content: center;
    &__list{
        transition: all ease-in-out 0.4s;
        list-style-type: none;
        display: flex;
        justify-content: center;
        @media only screen and (max-width: $screen-md) {
            transform: translateY(30px);
            display: none;
            z-index: -1;
            position: absolute;
            opacity: 0;
        }

        &__item{
            padding-left: $Grid-gutter-half;
            padding-right: $Grid-gutter-half;
        }
        
        &__link{
            text-decoration: none;
            color: black;
            &:hover{
                color: lightblue;
                border-bottom: 2px solid black;
            }
        }
    }
}

.Contact{
    text-align: end;
    cursor: pointer;
    &__link{
        font-size: 1.5rem;
        &:hover{
            color: lightblue;
        }
    }
}

.mobileMenu{
    @media only screen and (min-width: $screen-md) {
        display: none;
    }
    &__close{
        &:hover{
            color: rgb(232, 98, 98);
        }
    }
    &__open{
        &:hover{
            color: lightblue;
        }
    }

    &__icon{  
        font-size: 2rem;
        cursor: pointer;
    }
}

// .Social{
//     color: black;
//     display: flex;
//     &-item{
//         margin: 0 5px;
//         i{
//             font-size: 1.5rem;
//         }

//     }
// }

.notActive{
    display: none;
}

.active{
    display: flex;
    opacity: 1;
}

.menuDown{
    transform: translateY(50px);
}