{% macro deskMenu(link) %}
    <li class="Nav__menu__list__item"><a class="Nav__menu__list__item__link" href="{{link.href}}">{{link.name}}</a></li>
{% endmacro %}

{% macro mobMenu(link) %}
  <div class="row">
    <div class="col-12">
      {% for row in mobileMenu %}
      <ul class="Mobile__menu">
        {% for item in row.buttons %}
        <li class="Mobile__menu__item">
          <button type="submit" class="Mobile__menu__item__btn {{item.class}}" href="{{item.href}}">{{item.name}}</button>
        </li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
  </div>
{% endmacro %}

<header>
  <nav class="Nav">
    <section class="Section">
      <div class="container">
        <div class="row Nav__row">
          <div class="col-2">
            <div class="Nav__brand">
              <a class="Nav__brand__text" href="#">Neuro<span class="Nav__brand__text-wave">wave</span></a>
            </div>
          </div>
          <div class="col-8 Nav__menu">
            <ul class="Nav__menu__list">
              {% for link in desktopMenu %}
                {{deskMenu(link)}} 
              {% endfor %}
            </ul>
          </div>
          <div class="col-2 Nav__contact">
            <a class="Nav__contact__text" href="#">Contact</a>
          </div>
          <div class="col-10 Nav__burger">
              <i class="fal fa-bars Nav__burger__icon Nav__burger__icon__open"></i>
              <i class="fal fa-times Nav__burger__icon Nav__burger__icon__close notActive"></i>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="Extra__menu">
          {{mobMenu(link)}} 
        </div>
      </div>
    </section>
  </nav>
</header>