* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

.active{
  display: initial;
}

.notActive{
  display: none;
}

.opacity100{
  opacity: 1;
}

.opacity0{
  opacity: 0;
}

.moveDown100px{
  transform: translateY(-100px);
}