* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: $dark-gray;
  user-select: none;
}

.opacityLower{
  transition: all ease 0.4s;
}

.active{
  display: initial;
}

.notActive{
  display: none;
}

.opacity0{
  opacity: 0;
}

.opacity50{
  opacity: 0.5;
}

.opacity20{
  opacity: 0.2;
}

.opacity100{
  opacity: 1;
}

.moveDown100px{
  transform: translateY(-100px);
}