.Info__container{
    transform: translateY(-200px);
}

.Info__title{
    padding: $Grid-gutter 0;
    text-align: center;
    &__text{
      font-size: 2rem;
      font-weight: 500;
    }
}

.Info__boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    &__box{
        margin: 15px;
        width: 30%;
        height: 100%;
        background: white;
        border-radius: $border-radius;
        opacity: 0.95;
        &__title{
            font-size: 1.5rem;
            font-weight: 400;
            padding: $Grid-gutter $Grid-gutter $Grid-gutter-half $Grid-gutter;
        }
        &__text{
            padding: 0 $Grid-gutter $Grid-gutter-half $Grid-gutter;
        }
    }
}