{% macro infoBox(box) %}
    {% for box in infoBoxes %}
    <div class="Info__boxes__box col-3">
        {% for item in box.boxes %}
        <h2 class="Info__boxes__box__title">{{item.title}}</h2>
        <p class="Info__boxes__box__text">{{item.text}}</p>
        <btn class="Info__boxes__box__btn"">{{item.btn}}</btn>
        {% endfor %}
    </div>
    {% endfor %}
{% endmacro %}


<div class="Section Info__section">
    <div class="container Info__container">
        <div class="row Info__boxes">
                {{infoBox(box)}}
        </div>
    </div>
</div>
