<div class="Section Info__section">
    <div class="container Info__container">
        <div class="row Info__boxes">
            <div class="Info__boxes__box col-3">
                <h2 class="Info__boxes__box__title">
                    rTMS behandeling
                </h2>
                <p class="Info__boxes__box__text">
                   Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium quibusdam quas veniam explicabo eius. Voluptas, fuga rem? Minima nostrum sit sequi exercitationem rerum deserunt, cupiditate quidem odio cum. Vero, fugiat! 
                </p>
                <btn class="Info__boxes__box__btn">Lees meer</btn>
            </div>
            <div class="Info__boxes__box col-3">
                <h2 class="Info__boxes__box__title">
                    rTMS behandeling
                </h2>
                <p class="Info__boxes__box__text">
                   Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium quibusdam quas veniam explicabo eius. Voluptas, fuga rem? Minima nostrum sit sequi exercitationem rerum deserunt, cupiditate quidem odio cum. Vero, fugiat! 
                </p>
                <btn class="Info__boxes__box__btn">Lees meer</btn>
            </div>
            <div class="Info__boxes__box col-3">
                <h2 class="Info__boxes__box__title">
                    rTMS behandeling
                </h2>
                <p class="Info__boxes__box__text">
                   Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium quibusdam quas veniam explicabo eius. Voluptas, fuga rem? Minima nostrum sit sequi exercitationem rerum deserunt, cupiditate quidem odio cum. Vero, fugiat! 
                </p>
                <btn class="Info__boxes__box__btn">Lees meer</btn>
            </div>
        </div>

    </div>
</div>

<div class="bodyfill"></div>