.Info__container{
    transition: all ease 0.4s;
}


.Info__boxes{
    justify-content: space-around;
    @media screen and (max-width: $screen-lg) {
        flex-direction: column;  
        background: $light-blue;      
    }
    &__box{
        transition: ease all 1s;
        transform: translate(0px, -150px);
        background: white;
        border-radius: $border-radius;
        box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
        @media screen and (max-width: $screen-lg) {
            min-width: 80%;
            margin: $Grid-gutter auto;
        }
        &:not(:first-child){
            @media screen and (max-width: $screen-sm){
                transform: translate(-90%, -150px);
            }
        }
    

        &__title{
            font-size: 1.6rem;
            font-weight: 400;
            padding: $Grid-gutter-half $Grid-gutter-half/2 $Grid-gutter-half/2 $Grid-gutter-half/2;

        }
        &__text{
            padding: $Grid-gutter-half/2 $Grid-gutter-half/2 $Grid-gutter-double $Grid-gutter-half/2;
            font-weight: 300;
        }
        &__btn{
            height: 40px;
            width: 175px;
            color: $white;
            background: $gold;
            position: absolute;
            bottom: 0;
            right: 0;
            border-bottom-right-radius: $border-radius;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &:hover{
                background: $dark-blue;
                font-weight: 500;
            }
        }
    }
}


.inverse:not(:first-child){
    transform: translate(0px, -150px);
}