.Info__container{
    transition: all ease 0.4s;
}


.Info__boxes{
    justify-content: space-around;
    @media screen and (max-width: $screen-lg) {
        flex-direction: column;  
        background: $light-blue;      
    }
    &__box{
        transform: translateY(-150px);
        padding: 30px;
        background: white;
        border-radius: $border-radius;
        opacity: 0.95;
        box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
        @media screen and (max-width: $screen-lg) {
            min-width: 80%;
            margin: $Grid-gutter auto;
        }

        &__title{
            font-size: 1.6rem;
            font-weight: 400;
            padding-bottom: $Grid-gutter-half;

        }
        &__text{
            padding-bottom: $Grid-gutter-half;
            font-weight: 300;
        }
        &__btn{
            padding: 7.5px;
            color: $white;
            background: $light-blue;
            position: absolute;
            bottom: 0;
            right: 0;
            border-bottom-right-radius: $border-radius;
            text-align: center;
            cursor: pointer;
            &:hover{
                background: $dark-blue;
                font-weight: 500;
            }
        }
    }
}

.bodyfill{
    height: 2000px;
    width: 100%;
}