<div class="Section Info__section">
    <div class="container Info__container">
        <div class="row">
            <div class="col-12 Info__title">
                <div class="Info__title__desk">
                    <h1 class="Info__title__text__desk">Neurowave Neuromodulatie</h1>
                </div>
                <div class="Info__title__mob">
                    <h1 class="Info__title__text__mob">Neurowave</h1>
                    <h1 class="Info__title__text__mob">rTMS</h1>
                    <h1 class="Info__title__text__mob">Amsterdam</h1>
                </div>
            </div>
        </div>
        <div class="row Info__boxes">
            <div id="Infobox1" class="Info__boxes__box">
                <h2 class="Info__boxes__box__title">
                    rTMS behandeling
                </h2>
                <p class="Info__boxes__box__text">
                   Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium quibusdam quas veniam explicabo eius. Voluptas, fuga rem? Minima nostrum sit sequi exercitationem rerum deserunt, cupiditate quidem odio cum. Vero, fugiat! 
                </p>
                <btn class="Info__boxes__box__btn">Lees meer</btn>
            </div>
            <div class="Info__boxes__box">
                <h2 class="Info__boxes__box__title">
                    rTMS behandeling
                </h2>
                <p class="Info__boxes__box__text">
                   Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium quibusdam quas veniam explicabo eius. Voluptas, fuga rem? Minima nostrum sit sequi exercitationem rerum deserunt, cupiditate quidem odio cum. Vero, fugiat! 
                </p>
                <btn class="Info__boxes__box__btn">Lees meer</btn>
            </div>
            <div class="Info__boxes__box">
                <h2 class="Info__boxes__box__title">
                    rTMS behandeling
                </h2>
                <p class="Info__boxes__box__text">
                   Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium quibusdam quas veniam explicabo eius. Voluptas, fuga rem? Minima nostrum sit sequi exercitationem rerum deserunt, cupiditate quidem odio cum. Vero, fugiat! 
                </p>
                <btn class="Info__boxes__box__btn">Lees meer</btn>
            </div>
        </div>

    </div>
</div>

<div class="bodyfill"></div>