.Intro__section{
    margin-top: 50px;
}

.Intro__desk{
    &__img{
        width: 100%;
        height: 100%;
        @media screen and (max-width: $screen-md) {
            display: none;
        }
    }
}

.Intro__mob__img{
    transition: all ease 0.4s;
    width: 100%;
    height: 100%;
    @media screen and (min-width: $screen-md){
        display: none;
    }
}
