footer{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.Footer{
    &__title{
        font-weight: 500;
        padding: $Grid-gutter-half 0;
    }
    &__text{
        color: $dark-gray;
    }

    &__contact{
        &__form{
            color: $dark-gray;
            display: flex;
            padding: $Grid-gutter-half 0;
            &__input{
                position: relative;
                height: 3vh;
                border-color: $dark-gray;
                border-width: 1px 0px 1px 1px;
                &__btn{
                    padding: 0 5px;
                    height: 3vh;
                    position: absolute;
                    left: 1;
                    background-color: $light-blue;
                    font-weight: 400;
                    color: $dark-gray;
                    outline: none;
                    border-color: $dark-gray;
                    border-width: 1px 1px 1px 0px;
                    &:hover{
                    background: $dark-blue;
                    color: $white;
                    }
                }
            }
        }
        &__social{
            &__icon{
                font-size: 1.5rem;
                padding-right: $Grid-gutter-half; 
            }
        }
    }
}





.Footer__nav{
    &__lists{
        display: flex;

        &__list{
            padding-right: $Grid-gutter;
            list-style: none;

            &__link{
                margin-bottom: 10px;

                a{
                    color: $dark-gray;
                    &:hover{
                        color: $dark-blue
                    }
                }
            }
        }
    }
}


.Footer__social{
    padding-top: $Grid-gutter-half;
    border-top: 1px solid $dark-gray;
    display: flex;
    justify-content: center;
}

.Footer__rights{
    padding-top: $Grid-gutter-half;
    display: flex;
    justify-content: center;
}