footer{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.Footer__row{
    justify-content: space-between;
}

.Footer{
    &__title{
        font-weight: 500;
        padding: $Grid-gutter-half 0;
    }

    &__contact{
        &__form{
            display: flex;
            padding: $Grid-gutter-half 0;
            &__btn{
                background-color: $light-green;
                font-weight: 400;
                color: $dark-gray;
                outline: none;
                border: 1px solid $dark-gray;
                &:hover{
                  background: $dark-green;
                  color: white;
                }

            }
        }
        &__social{
            &__icon{
                font-size: 1.5rem;
                padding-right: $Grid-gutter-half; 
            }
        }
    }
}





.Footer__nav{
    &__list{
        display: flex;
        ul{
            padding-right: $Grid-gutter;
            list-style: none;
        }
    }
}
