<!-- Site footer
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">Neurowave wil de psychische gezondheid en kwaliteit van leven verbeteren van
                    mensen met een depressie. U kunt bij ons snel terecht om te zien of rTMS mogelijk iets voor u zou
                    kunnen zijn. U kunt ook altijd contact opnemen met vragen over de behandeling en de effecten van
                    rTMS.</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>rTMS</h6>
                <ul class="footer-links">
                    <li><a href="">Depressie</a></li>
                    <li><a href="">OCD</a></li>
                    <li><a href="">OCS</a></li>
                    <li><a href="">Dwangstoornis</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Sitemap</h6>
                <ul class="footer-links">
                    <li><a href="">Contact</a></li>
                    <li><a href="">Over ons</a></li>
                    <li><a href="">Informatie</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Behandeling</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
                    <a href="#">Neurowave</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer> -->