.div1{
    margin: 100px 0px;
    width: 100%;
    height: 50px;
    background: blue;
}
.div2{
    margin: 100px 0px;
    width: 100%;
    height: 50px;
    background: yellow;
}
.div3{
    margin: 100px 0px;
    width: 100%;
    height: 50px;
    background: green;
}
.div4{
    margin: 100px 0px;
    width: 100%;
    height: 50px;
    background: black;
}
.div5{
    margin: 100px 0px;
    width: 100%;
    height: 50px;
    background: blue;
}
.div5{
    margin: 100px 0px;
    width: 100%;
    height: 50px;
    background: purple;
}

.inverse{
    color: white;
    background: black;
}